[user]
	email = jas.young314@gmail.com
	name = Jason Young
[core]
	excludesfile = /home/jasonyoung/global_settings/.gitignore
    editor = /usr/bin/vim
[push]
	default = matching
 
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold red)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
